      <footer class="page-foot bg-light">
        <section class="footer-content">
          <div class="container">
            <div class="rd-navbar-brand"><a class="brand-name" href="/"><svg class="text-logo" width="180px" height="36px" viewBox="0 0 130 36" shape-rendering="geometricPrecision">
<text transform="matrix(1 0 0 1 -0.5197 33.3432)" font-family="Pacifico" font-size="34px">Lecharton</text>
<text transform="matrix(1 0 0 1 68 11.125)" font-family="Montserrat" font-size="14" letter-spacing="1">KATE</text>
<path class="logo" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round"  d="M95.313,25.564c9.022-6.656,20.032-9.736,30-5"/>
</svg></a></div>
            <ul class="list-inline">
              {% include "includes/sotial_media.html" %}
            </ul>
          </div>
        </section>
        <section class="footer-copyright-1 copyright">
          <div class="container">
            <p>&#169; <span class="copyright-year"></span> All Rights Reserved <a href="terms.html">Terms of Use and Privacy Policy</a></p>
          </div>
        </section>
      </footer>