 <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
            <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->
            <div class="rd-navbar-top-panel bg-accent">
              <div class="rd-navbar-inner">
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".list-inline" type="submit"><span></span></button><a class="fa-envelope" href="mailto:#">info@demolink.org</a><a class="fa-mobile-phone preffix-2" href="tel:#">1-800-1234-567</a>
                <ul class="list-inline pull-right">
                  {% include "includes/sotial_media.html" %}
                </ul>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="/"><svg class="text-logo" width="180px" height="36px" viewBox="0 0 130 36" shape-rendering="geometricPrecision">
<text transform="matrix(1 0 0 1 -0.5197 33.4432)" font-family="Pacifico" font-size="34px">Lecharton</text>
<text transform="matrix(1 0 0 1 68 11.125)" font-family="Montserrat" font-size="14" letter-spacing="1">KATE</text>
<path class="logo" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" d="M95.313,25.564c9.022-6.656,20.032-9.736,30-5"/>
</svg></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search">
                  <form class="rd-search rd-navbar-search-form" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <label class="rd-navbar-search-form-input">
                      <input type="text" name="s" placeholder="Search.." autocomplete="off">
                    </label>
                    <button class="rd-navbar-search-form-submit fa-shopping-cart" type="submit"></button>
                  </form>
                  <div class="rd-search-results-live rd-navbar-live-search-results" id="rd-search-results-live"></div>
                  <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-live-search-results" type="submit"></button>
                </div>
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a class="active" href="{% url 'blog' %}">Блог</a></li>
                  <li><a href="{% url 'projects' %}">Проекты</a></li>
                  <li><a href="{% url 'about' %}">Обо мне</a></li>
                  <li><a href="{% url 'contact' %}">Контакты</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <section class="relative text-center">
          <div class="container">
            <div class="jumbotron text-center">
              <h1>
                  <small>Екатерина Гришина</small>
              </h1>
            </div>
          </div>
        </section>
      </header>
