{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section section-inset-1">
          <div class="container">
            <h2>Обо мне</h2>
            <hr>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 col-lg-offset-2">
                <div class="thumbnail">
                  <img class="rounded-circle" src="{% static 'images/me.jpg' %}" alt="">
                  <div class="caption-mod-1">
                    <h4>Привет! Меня зовут Катя. Я программист.</h4>
                    <ul class="list-inline">
                      {% include "includes/sotial_media.html" %}
                    </ul>
                    <p class="text-md-left"> Я родилась в Сургуте. С детства часто переезжала с семьей по России. Жила в Саратове, Москве, маленьком городе рядом с Казанью и много где еще. В 2016 году я переехала с семьей в Нидерланды и сейчас живу в Амстердаме.</p>
                    <p class="text-md-left"> Мне захотелось стать программистом лет в 14. С выбором ВУЗа проблем не было, я закончила механико-математический факультет СГУ.</p>
                    <p class="text-md-left"> На первую работу программистом я устроилась на 4-м курсе. Шесть лет я занималась разработкой бэкенда. За эти годы успела поработать на маленькими проектами и надо большими, например над почтой Mail.ru. Потом я 4 года работала программистом в Amsterdam Internet Exchange и занималась сетями. Это было инетересно, но я очень скучала по вебу.</p>
                    <p class="text-md-left"> Сейчас я вернулась к бэкенду, чему очень рада.</p>
                    <p class="text-md-left"> Однажды я поняла, что бесполезно спорить с людьми, которые считают науку глупостью и обманом. Гораздо эффективнее будет рассказать, что смогу, и показать где взять больше знаний. Про прививки/химию/физику я писать не могу, так как я не занимаюсь этим. Зато могу про компьютеры, про интернет, про математику и про то как стать частью всего этого.</p>
                    <p class="text-md-left"> Блог привел меня к менторству. Я поработала в Яндекс Практикуме наставником на бэкенд факульте. И иногда работаю с людьми индивидуально. </p>
                    <p class="text-md-left"> В блоге я пишу о программировании, рассказываю о сфере IT, делюсь опытом веб разработки и работы с сетями. Рассказываю как стать программистом и чем вообще занимаются айтишники.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}