{% extends 'base.html' %}
{% load static %}
{% block seo_content %}
  <meta name="description" content="Екатерина Гришина - бэкенд разработчик">
  <meta name="keywords" content="11 лет опыта в программировании. Пишу на Python, Java и Perl.">
{% endblock %}
{% block content %}
    <section class="section section-inset-1">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8 col-lg-offset-2">
                <div class="thumbnail">
                  <img class="rounded-circle" src="{% static 'images/me.jpg' %}" alt="">
                  <div class="caption-mod-1">
                    <h4>Привет! Меня зовут Екатерина Гришина. Я программист.</h4>
                    <ul class="list-inline">
                      {% include "includes/sotial_media.html" %}
                    </ul>
                    <p class="text-md-center"> В этом блоге я рассказываю, как войти в IT сферу и преуспеть в ней. Пишу, как выбрать первый язык программирования и где его потом учить. Делюсь опытом и советами по прохождению собеседований. Выкладываю ссылки на онлайн-учебники, классные репозитории, статьи и лонгриды про веб-разработку.</p>
                    <p class="text-md-center"> Я решила стать программистом, когда мне было 14 лет. Так что с выбором ВУЗа проблем не было. Училась на механико-математическом факультете СГУ. На первую работу  устроилась на 4-м курсе и вот уже 11 лет занимаюсь разработкой. </p>
                    <p class="text-md-center"> Из них шесть лет я занималась разработкой бэкенда. Четыре года работала программистом в Amsterdam Internet Exchange и занималась компьютерными сетями. Один год провела за разработкой собственного приложения. Мое резюме можно посмотреть здесь.</p>
                    <p class="text-md-center"> Ко мне обращаются, когда хотят войти в IT и не знают с чего начать. Я помогу выбрать направление и определиться с первыми шагами. Вместе мы составим план действий, следуя которому, вы сможете уверенно двигаться в выбранном направлении.</p>
                    <p class="text-md-center"> Если вы сейчас ищите работу, я могу провести с вами пробное техническое собеседование. Мы встретимся онлайн. Я предложу вам две задачи и дам подсказку, если попросите. После встречи я пришлю вам оценку ваших технических навыков и мои рекомендации. Это отличный способ потренироваться перед настоящим собеседованием.</p>
                    <p class="text-md-center"> К сожалению, я не беру заказы на разработку сайтов и приложений. На данный момент я работаю программистом в крупной международной компании и у меня не остается времени на фриланс. Рекомендую вам поискать специалиста на <a href="https://www.upwork.com/">upwork</a> или <a href="https://freelance.habr.com/">freelance.habr</a> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}